In [2]:
import pandas as pd
import numpy as np
from config import gkey
import numpy as np
import requests
import json
import gmaps

# Configure gmaps
gmaps.configure(api_key=gkey)

In [3]:
#url of national capitals for scraping
url = 'https://en.wikipedia.org/wiki/List_of_national_capitals_by_latitude'

#temperaturate anamolies from https://data.giss.nasa.gov/gistemp/
zonal_temp_anamolies = pd.read_csv('C:/Users/joelb/Documents/Github/ClimateChange/ZonAnn.Ts+dSST.csv')

In [4]:

# scrape html table from wikipediea
tables = pd.read_html(url)

#grabs the 2nd table on the webpage
city_by_hemisphere = tables[1]

#give the table column names
city_by_hemisphere.columns = ['City','Latitude','Country','Notes']

#drops the first row that is just headers
city_by_hemisphere = city_by_hemisphere.drop(0,axis=0)


#converts the latitude column into numeric
city_by_hemisphere['Latitude'] = city_by_hemisphere['Latitude'].str.replace('âˆ’','-')
city_by_hemisphere['Latitude'] = pd.to_numeric(city_by_hemisphere['Latitude'])

#if lat is negative its south, if positive its north
city_by_hemisphere['Hemisphere'] = np.where(city_by_hemisphere['Latitude']<=0, 'south', 'north')

In [5]:

#determies what zone of the hemisphere the city is in
city_by_hemisphere['zone'] = np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']>0,city_by_hemisphere['Latitude']<=24), \
                                            city_by_hemisphere['Hemisphere'] == 'north'),'EQU-24N', \
                             np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']>24,city_by_hemisphere['Latitude']<=44), \
                                            city_by_hemisphere['Hemisphere'] == 'north'),'24N-44N',
                             np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']>44,city_by_hemisphere['Latitude']<=64), \
                                            city_by_hemisphere['Hemisphere'] == 'north'),'44N-64N',
                             np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']>64,city_by_hemisphere['Latitude']<=90), \
                                            city_by_hemisphere['Hemisphere'] == 'north'),'64N-90N', \
                            np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']<0,city_by_hemisphere['Latitude']>=-24), \
                                            city_by_hemisphere['Hemisphere'] == 'south'),'24S-EQU', \
                            np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']<-24,city_by_hemisphere['Latitude']>=-44), \
                                            city_by_hemisphere['Hemisphere'] == 'south'),'44S-24S', \
                            np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']<-44,city_by_hemisphere['Latitude']>=-64), \
                                            city_by_hemisphere['Hemisphere'] == 'south'),'64S-44S', \
                            np.where(np.logical_and( \
                                    np.logical_and(city_by_hemisphere['Latitude']<-64,city_by_hemisphere['Latitude']>=-90), \
                                            city_by_hemisphere['Hemisphere'] == 'south'),'64S-44S', \
                                     ""))))))))

In [6]:
#get column headers for the year to be used later
year_header = list(zonal_temp_anamolies['Year'])

In [7]:
#transpose the dataframe for merging
zonal_temp_anamolies = zonal_temp_anamolies.transpose()

In [8]:

#merge the city capitals with the zonal temperature data
climate_df =  city_by_hemisphere.merge(zonal_temp_anamolies, how='left', left_on='zone', right_index=True)

In [9]:
#rename columns to the appropriate year
climate_df.rename(columns=dict(zip(climate_df.columns[6:],year_header)),inplace=True)

In [10]:
#drop a notes column that is not needed
climate_df = climate_df.drop('Notes',axis=1)

In [11]:

#sums temperature anomalies over a period of years.  will be the layers on the leaflet map
climate_df['rng_1880_1910'] = climate_df.iloc[:, 5:36].sum(axis='columns')
climate_df['rng_1911_1940'] = climate_df.iloc[:, 36:66].sum(axis='columns')
climate_df['rng_1941_1970'] = climate_df.iloc[:, 66:96].sum(axis='columns')
climate_df['rng_1971_2000'] = climate_df.iloc[:, 96:126].sum(axis='columns')
climate_df['rng_2001_2017'] = climate_df.iloc[:, 126:143].sum(axis='columns')

In [13]:
#create lat and lgn fields for google maps geocode api
climate_df["Lat"] = ""
climate_df["Lng"] = ""

#set parameters to my gkey
params = {"key": gkey}

In [14]:
count = 0
bad_list = []

for index, row in climate_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    city = row['City']
    country = row['Country']

    # update address key value
    params['address'] = f"{city},{country}"

    # make request, print url
    cities_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()
    
    try:

        climate_df.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
        climate_df.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

        count +=1
        print("num records processed" + str(count))
    except:
        print("didnt copy street: " +  "city: " + city )
        bad_list.append(city)

num records processed1
num records processed2
num records processed3
num records processed4
num records processed5
num records processed6
num records processed7
num records processed8
num records processed9
num records processed10
num records processed11
num records processed12
num records processed13
num records processed14
num records processed15
num records processed16
num records processed17
num records processed18
num records processed19
num records processed20
num records processed21
num records processed22
num records processed23
num records processed24
num records processed25
num records processed26
num records processed27
num records processed28
num records processed29
num records processed30
num records processed31
num records processed32
num records processed33
num records processed34
num records processed35
num records processed36
num records processed37
num records processed38
num records processed39
num records processed40
num records processed41
num records processed42
num records processed43
num records processed44
num records processed45
num records processed46
num records processed47
num records processed48
num records processed49
num records processed50
num records processed51
num records processed52
num records processed53
num records processed54
num records processed55
num records processed56
num records processed57
num records processed58
num records processed59
num records processed60
num records processed61
num records processed62
num records processed63
num records processed64
num records processed65
num records processed66
num records processed67
num records processed68
num records processed69
num records processed70
num records processed71
num records processed72
num records processed73
num records processed74
num records processed75
num records processed76
num records processed77
num records processed78
num records processed79
num records processed80
num records processed81
num records processed82
num records processed83
num records processed84
num records processed85
num records processed86
num records processed87
num records processed88
num records processed89
num records processed90
num records processed91
num records processed92
num records processed93
num records processed94
num records processed95
num records processed96
num records processed97
num records processed98
num records processed99
num records processed100
num records processed101
num records processed102
num records processed103
num records processed104
num records processed105
num records processed106
num records processed107
num records processed108
num records processed109
num records processed110
num records processed111
num records processed112
num records processed113
num records processed114
num records processed115
num records processed116
num records processed117
num records processed118
num records processed119
num records processed120
num records processed121
num records processed122
num records processed123
num records processed124
num records processed125
num records processed126
num records processed127
num records processed128
num records processed129
num records processed130
num records processed131
num records processed132
num records processed133
num records processed134
num records processed135
num records processed136
num records processed137
num records processed138
num records processed139
num records processed140
num records processed141
num records processed142
num records processed143
num records processed144
num records processed145
num records processed146
num records processed147
num records processed148
num records processed149
num records processed150
num records processed151
num records processed152
num records processed153
num records processed154
num records processed155
num records processed156
num records processed157
num records processed158
num records processed159
num records processed160
num records processed161
num records processed162
num records processed163
num records processed164
num records processed165
num records processed166
num records processed167
num records processed168
num records processed169
num records processed170
num records processed171
num records processed172
num records processed173
num records processed174
num records processed175
num records processed176
num records processed177
num records processed178
num records processed179
num records processed180
num records processed181
num records processed182
num records processed183
num records processed184
num records processed185
num records processed186
num records processed187
num records processed188
num records processed189
num records processed190
num records processed191
num records processed192
num records processed193
num records processed194
num records processed195
num records processed196
num records processed197
num records processed198
num records processed199
num records processed200
num records processed201
num records processed202
num records processed203
num records processed204
num records processed205
num records processed206
num records processed207
num records processed208
num records processed209
num records processed210
num records processed211
num records processed212
num records processed213
num records processed214
num records processed215
num records processed216
num records processed217
num records processed218
num records processed219
num records processed220
num records processed221
num records processed222
num records processed223
num records processed224
num records processed225
num records processed226
num records processed227
num records processed228
num records processed229
num records processed230
num records processed231
num records processed232
num records processed233
num records processed234
num records processed235
num records processed236
num records processed237
num records processed238
num records processed239
num records processed240
num records processed241
num records processed242
num records processed243
num records processed244
num records processed245
num records processed246
num records processed247

In [16]:
climate_df.to_excel('C:/Users/joelb/Documents/Github/ClimateChange/test.xlsx')

In [17]:
#drop original lat field so it does not conflict with google lat field
climate_df = climate_df.drop('Latitude',axis=1)

In [18]:
climate_df.columns = [str(i) for i in climate_df.columns.values.tolist()]
print(climate_df.columns.values)

['City' 'Country' 'Hemisphere' 'zone' '1880' '1881' '1882' '1883' '1884'
 '1885' '1886' '1887' '1888' '1889' '1890' '1891' '1892' '1893' '1894'
 '1895' '1896' '1897' '1898' '1899' '1900' '1901' '1902' '1903' '1904'
 '1905' '1906' '1907' '1908' '1909' '1910' '1911' '1912' '1913' '1914'
 '1915' '1916' '1917' '1918' '1919' '1920' '1921' '1922' '1923' '1924'
 '1925' '1926' '1927' '1928' '1929' '1930' '1931' '1932' '1933' '1934'
 '1935' '1936' '1937' '1938' '1939' '1940' '1941' '1942' '1943' '1944'
 '1945' '1946' '1947' '1948' '1949' '1950' '1951' '1952' '1953' '1954'
 '1955' '1956' '1957' '1958' '1959' '1960' '1961' '1962' '1963' '1964'
 '1965' '1966' '1967' '1968' '1969' '1970' '1971' '1972' '1973' '1974'
 '1975' '1976' '1977' '1978' '1979' '1980' '1981' '1982' '1983' '1984'
 '1985' '1986' '1987' '1988' '1989' '1990' '1991' '1992' '1993' '1994'
 '1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017' 'rng_1880_1910' 'rng_1911_1940' 'rng_1941_1970'
 'rng_1971_2000' 'rng_2001_2017' 'Lat' 'Lng']

In [19]:


#turn df into a dictionary for processing into mongo
climate_dict = climate_df.to_dict('list')

In [20]:
climate_df.to_excel('C:/Users/joelb/Documents/Github/ClimateChange/test.xlsx')

In [24]:
climate_df = pd.read_excel('C:/Users/joelb/Documents/Github/ClimateChange/test.xlsx')

climate_dict = climate_df.to_dict('list')

In [26]:
climate_dict['Lat']

[24.453884,
 9.0764785,
 5.6037168,
 -25.0662897,
 8.9806034,
 36.753768,
 -19.0553711,
 31.9453666,
 52.3702157,
 42.50631740000001,
 39.9333635,
 -18.8791902,
 -13.8506958,
 37.9600766,
 15.3228767,
 51.16052269999999,
 -25.2637399,
 37.9838096,
 -21.2129007,
 33.3128057,
 40.40926169999999,
 12.6392316,
 4.903052199999999,
 13.7563309,
 4.3946735,
 13.4548761,
 17.3026058,
 39.90419989999999,
 33.8937913,
 44.786568,
 17.2510114,
 52.52000659999999,
 46.9479739,
 42.8746212,
 11.8632196,
 -29.1155566,
 4.710988599999999,
 -15.826691,
 48.1485965,
 -4.2633597,
 13.0968511,
 50.8503463,
 44.4267674,
 47.497912,
 -34.6036844,
 -3.361378,
 30.0444196,
 -35.2809368,
 -33.9264168,
 10.4805937,
 14.0101094,
 4.92242,
 18.3419004,
 47.0104529,
 9.641185499999999,
 55.6760968,
 14.716677,
 33.5138073,
 23.810332,
 -8.5568557,
 11.825138,
 -6.162959000000001,
 25.2854473,
 54.1523372,
 53.3498053,
 38.5597722,
 -37.0680421,
 27.1500384,
 34.684073,
 -10.4318725,
 8.4656765,
 -8.5211471,
 -24.6282079,
 19.2869323,
 -7.926222999999999,
 6.8012793,
 36.140751,
 14.6349149,
 17.8964345,
 13.4762824,
 32.2945837,
 -27.15,
 21.0277644,
 -17.8251657,
 9.562389,
 23.1135925,
 60.16985569999999,
 -9.4456381,
 33.6844202,
 -6.17511,
 -15.9286343,
 31.768319,
 4.859363,
 34.5553494,
 0.3475964,
 27.7172453,
 15.5006544,
 -1.9705786,
 -54.2832502,
 18.0178743,
 -29.0563937,
 13.1600249,
 -4.4419311,
 2.926361,
 42.2662428,
 29.375859,
 50.4501,
 0.4161976,
 -13.9626121,
 -12.0463731,
 38.7222524,
 46.0569465,
 -26.400429,
 6.1256261,
 51.5073509,
 78.22317220000001,
 -8.8146556,
 -15.3875259,
 49.61162100000001,
 40.4167754,
 7.1164214,
 3.7549606,
 4.1754959,
 12.1149926,
 26.2285161,
 14.5995124,
 -25.969248,
 18.0675189,
 -29.3150767,
 -13.2825091,
 -26.3054482,
 19.4326077,
 53.90453979999999,
 2.0469343,
 43.73841760000001,
 6.3156068,
 -34.9011127,
 -11.7172157,
 55.755826,
 23.58589,
 -1.2920659,
 25.0479835,
 19.7633057,
 12.1348457,
 28.6139391,
 7.5003835,
 13.5115963,
 35.1855659,
 35.1855659,
 18.0735299,
 -22.2710727,
 -21.1393418,
 64.18140989999999,
 12.5092044,
 59.9138688,
 45.4215296,
 12.3714277,
 -14.2756319,
 6.9147118,
 8.9823792,
 -17.5516251,
 5.8520355,
 48.856614,
 18.0295839,
 11.5563738,
 16.7909044,
 42.4304196,
 -20.1608912,
 -9.443800399999999,
 -17.7332512,
 18.594395,
 10.6549013,
 6.4968574,
 50.0755381,
 14.93305,
 -25.748344,
 42.6629138,
 39.0392193,
 -0.1806532,
 33.9715904,
 64.146582,
 56.9496487,
 24.7135517,
 18.4286115,
 41.9027835,
 15.3091676,
 15.1850483,
 9.9280694,
 18.4655394,
 43.9355907,
 13.6929403,
 15.3694451,
 -33.4488897,
 18.4860575,
 0.3301924,
 43.8562586,
 37.566535,
 1.352083,
 41.9960421,
 42.6977082,
 6.8867616,
 12.0560975,
 49.1805019,
 17.1274104,
 49.4541677,
 46.7758459,
 -51.6977129,
 39.82652789999999,
 59.32932349999999,
 -16.4942137,
 43.0015252,
 -18.1248086,
 25.0329694,
 59.43696079999999,
 1.4518171,
 41.2994958,
 41.7151377,
 14.0722751,
 35.6891975,
 27.4727924,
 41.3275459,
 46.84818500000001,
 35.6894875,
 62.01072479999999,
 32.8872094,
 42.2214597,
 36.8064948,
 47.88639879999999,
 47.1410303,
 35.8989085,
 18.2148129,
 41.902916,
 -4.619143,
 48.2081743,
 17.9757058,
 54.6871555,
 52.2296756,
 38.9071923,
 -41.2864603,
 -12.1450486,
 12.1224221,
 -22.5608807,
 6.827622799999999,
 3.8480325,
 -0.5466856999999999,
 40.1791857,
 45.8150108]

In [27]:
climate_dict = {'City': climate_dict['City'],
               'Country':climate_dict['Country'],
               'Lat':climate_dict['Lat'],
               'Lng':climate_dict['Lng'],
                'rng_1880_1910': climate_dict['rng_1880_1910'],
                'rng_1911_1940':climate_dict['rng_1911_1940'],
                'rng_1941_1970':climate_dict['rng_1941_1970'],
                'rng_1971_2000':climate_dict['rng_1971_2000'],
                'rng_2001_2017':climate_dict['rng_2001_2017']
               }

In [28]:
climate_dict['Lat']

[24.453884,
 9.0764785,
 5.6037168,
 -25.0662897,
 8.9806034,
 36.753768,
 -19.0553711,
 31.9453666,
 52.3702157,
 42.50631740000001,
 39.9333635,
 -18.8791902,
 -13.8506958,
 37.9600766,
 15.3228767,
 51.16052269999999,
 -25.2637399,
 37.9838096,
 -21.2129007,
 33.3128057,
 40.40926169999999,
 12.6392316,
 4.903052199999999,
 13.7563309,
 4.3946735,
 13.4548761,
 17.3026058,
 39.90419989999999,
 33.8937913,
 44.786568,
 17.2510114,
 52.52000659999999,
 46.9479739,
 42.8746212,
 11.8632196,
 -29.1155566,
 4.710988599999999,
 -15.826691,
 48.1485965,
 -4.2633597,
 13.0968511,
 50.8503463,
 44.4267674,
 47.497912,
 -34.6036844,
 -3.361378,
 30.0444196,
 -35.2809368,
 -33.9264168,
 10.4805937,
 14.0101094,
 4.92242,
 18.3419004,
 47.0104529,
 9.641185499999999,
 55.6760968,
 14.716677,
 33.5138073,
 23.810332,
 -8.5568557,
 11.825138,
 -6.162959000000001,
 25.2854473,
 54.1523372,
 53.3498053,
 38.5597722,
 -37.0680421,
 27.1500384,
 34.684073,
 -10.4318725,
 8.4656765,
 -8.5211471,
 -24.6282079,
 19.2869323,
 -7.926222999999999,
 6.8012793,
 36.140751,
 14.6349149,
 17.8964345,
 13.4762824,
 32.2945837,
 -27.15,
 21.0277644,
 -17.8251657,
 9.562389,
 23.1135925,
 60.16985569999999,
 -9.4456381,
 33.6844202,
 -6.17511,
 -15.9286343,
 31.768319,
 4.859363,
 34.5553494,
 0.3475964,
 27.7172453,
 15.5006544,
 -1.9705786,
 -54.2832502,
 18.0178743,
 -29.0563937,
 13.1600249,
 -4.4419311,
 2.926361,
 42.2662428,
 29.375859,
 50.4501,
 0.4161976,
 -13.9626121,
 -12.0463731,
 38.7222524,
 46.0569465,
 -26.400429,
 6.1256261,
 51.5073509,
 78.22317220000001,
 -8.8146556,
 -15.3875259,
 49.61162100000001,
 40.4167754,
 7.1164214,
 3.7549606,
 4.1754959,
 12.1149926,
 26.2285161,
 14.5995124,
 -25.969248,
 18.0675189,
 -29.3150767,
 -13.2825091,
 -26.3054482,
 19.4326077,
 53.90453979999999,
 2.0469343,
 43.73841760000001,
 6.3156068,
 -34.9011127,
 -11.7172157,
 55.755826,
 23.58589,
 -1.2920659,
 25.0479835,
 19.7633057,
 12.1348457,
 28.6139391,
 7.5003835,
 13.5115963,
 35.1855659,
 35.1855659,
 18.0735299,
 -22.2710727,
 -21.1393418,
 64.18140989999999,
 12.5092044,
 59.9138688,
 45.4215296,
 12.3714277,
 -14.2756319,
 6.9147118,
 8.9823792,
 -17.5516251,
 5.8520355,
 48.856614,
 18.0295839,
 11.5563738,
 16.7909044,
 42.4304196,
 -20.1608912,
 -9.443800399999999,
 -17.7332512,
 18.594395,
 10.6549013,
 6.4968574,
 50.0755381,
 14.93305,
 -25.748344,
 42.6629138,
 39.0392193,
 -0.1806532,
 33.9715904,
 64.146582,
 56.9496487,
 24.7135517,
 18.4286115,
 41.9027835,
 15.3091676,
 15.1850483,
 9.9280694,
 18.4655394,
 43.9355907,
 13.6929403,
 15.3694451,
 -33.4488897,
 18.4860575,
 0.3301924,
 43.8562586,
 37.566535,
 1.352083,
 41.9960421,
 42.6977082,
 6.8867616,
 12.0560975,
 49.1805019,
 17.1274104,
 49.4541677,
 46.7758459,
 -51.6977129,
 39.82652789999999,
 59.32932349999999,
 -16.4942137,
 43.0015252,
 -18.1248086,
 25.0329694,
 59.43696079999999,
 1.4518171,
 41.2994958,
 41.7151377,
 14.0722751,
 35.6891975,
 27.4727924,
 41.3275459,
 46.84818500000001,
 35.6894875,
 62.01072479999999,
 32.8872094,
 42.2214597,
 36.8064948,
 47.88639879999999,
 47.1410303,
 35.8989085,
 18.2148129,
 41.902916,
 -4.619143,
 48.2081743,
 17.9757058,
 54.6871555,
 52.2296756,
 38.9071923,
 -41.2864603,
 -12.1450486,
 12.1224221,
 -22.5608807,
 6.827622799999999,
 3.8480325,
 -0.5466856999999999,
 40.1791857,
 45.8150108]