In [7]:
import pandas as pd
import numpy as np

In [8]:
url = 'https://en.wikipedia.org/wiki/List_of_national_capitals_by_latitude'

temp_anamolies = pd.read_csv('C:/Users/joelb/Documents/Github/ClimateChange/ZonAnn.Ts+dSST.csv')

In [9]:
tables = pd.read_html(url)
city_by_hemisphere = tables[1]

city_by_hemisphere.columns = ['City','Latitude','Country','Notes']
city_by_hemisphere.head()

city_by_hemisphere = city_by_hemisphere.drop(0,axis=0)

city_by_hemisphere['Latitude'] = city_by_hemisphere['Latitude'].str.replace('−','-')
city_by_hemisphere['Latitude'] = pd.to_numeric(city_by_hemisphere['Latitude'])

In [10]:
city_by_hemisphere['Hemisphere'] = np.where(city_by_hemisphere['Latitude']<=0, 'south', 'north')

In [11]:
temp_anamolies

<bound method NDFrame.head of                                                   City  Latitude  \
1                                            Abu Dhabi     24.47
2                                                Abuja      9.07
3                                                Accra      5.55
4                                            Adamstown    -25.07
5                                          Addis Ababa      9.02
6                                              Algiers     36.77
7                                                Alofi    -19.07
8                                                Amman     31.93
9                                            Amsterdam     52.37
10                                    Andorra la Vella     42.50
11                                              Ankara     39.87
12                                        Antananarivo    -18.93
13                                                Apia     13.83
14                                            Ashgabat     37.93
15                                              Asmara     15.33
16                                              Astana     51.17
17                                            Asunción    -25.27
18                                              Athens     37.97
19                                              Avarua    -21.20
20                                             Baghdad     33.33
21                                                Baku     40.38
22                                              Bamako     12.65
23                                 Bandar Seri Begawan      4.88
24                                             Bangkok     13.75
25                                              Bangui      4.37
26                                              Banjul     13.45
27                                          Basseterre     17.30
28                                             Beijing     39.90
29                                              Beirut     33.88
30                                            Belgrade     44.82
..                                                 ...       ...
218                                        Tegucigalpa     14.10
219                                             Tehran     35.68
220                                            Thimphu     27.47
221                                             Tirana     41.32
222                                           Tiraspol     46.85
223                                              Tokyo     35.68
224                                           Tórshavn     62.00
225                                            Tripoli     32.90
226                                         Tskhinvali     42.23
227                                              Tunis     36.80
228                                         Ulan Bator     47.92
229                                              Vaduz     47.13
230                                           Valletta     35.88
231                                         The Valley     18.22
232                                       Vatican City     41.90
233                                           Victoria     -4.62
234                                             Vienna     48.20
235                                          Vientiane     17.97
236                                            Vilnius     54.68
237                                             Warsaw     52.23
238                                   Washington, D.C.     38.88
239                                         Wellington    -41.28
240                                        West Island    -12.18
241                                         Willemstad     12.12
242                                           Windhoek    -22.57
243  Yamoussoukro (official)Abidjan (former capital...      6.82
244                                            Yaoundé      3.87
245                                   Yaren (de facto)     -0.53
246                                            Yerevan     40.18
247                                             Zagreb     45.82

                      Country  \
1        United Arab Emirates
2                     Nigeria
3                       Ghana
4            Pitcairn Islands
5                    Ethiopia
6                     Algeria
7                        Niue
8                      Jordan
9                 Netherlands
10                    Andorra
11                     Turkey
12                 Madagascar
13                      Samoa
14               Turkmenistan
15                    Eritrea
16                 Kazakhstan
17                   Paraguay
18                     Greece
19               Cook Islands
20                       Iraq
21                 Azerbaijan
22                       Mali
23                     Brunei
24                   Thailand
25   Central African Republic
26                     Gambia
27      Saint Kitts and Nevis
28                      China
29                    Lebanon
30                     Serbia
..                        ...
218                  Honduras
219                      Iran
220                    Bhutan
221                   Albania
222              Transnistria
223                     Japan
224             Faroe Islands
225                     Libya
226             South Ossetia
227                   Tunisia
228                  Mongolia
229             Liechtenstein
230                     Malta
231                  Anguilla
232              Vatican City
233                Seychelles
234                   Austria
235                      Laos
236                 Lithuania
237                    Poland
238             United States
239               New Zealand
240   Cocos (Keeling) Islands
241                   Curaçao
242                   Namibia
243               Ivory Coast
244                  Cameroon
245                     Nauru
246                   Armenia
247                   Croatia

                                                 Notes Hemisphere
1                                                  NaN      north
2                                                  NaN      north
3                                                  NaN      north
4                           British Overseas Territory      south
5                                                  NaN      north
6                                                  NaN      north
7    Self-governing in free association with New Ze...      south
8                                                  NaN      north
9    The Dutch constitution refers to Amsterdam as ...      north
10                                                 NaN      north
11                                                 NaN      north
12                                                 NaN      south
13                                                 NaN      north
14                                                 NaN      north
15                                                 NaN      north
16                                                 NaN      north
17                                                 NaN      south
18                                                 NaN      north
19   Self-governing in free association with New Ze...      south
20                                                 NaN      north
21                                                 NaN      north
22                                                 NaN      north
23                                                 NaN      north
24                                                 NaN      north
25                                                 NaN      north
26                                                 NaN      north
27                                                 NaN      north
28      See also: List of historical capitals of China      north
29                                                 NaN      north
30                                                 NaN      north
..                                                 ...        ...
218                                                NaN      north
219                                                NaN      north
220                                                NaN      north
221                                                NaN      north
222  De facto independent state, not recognized by ...      north
223                                                NaN      north
224       Self-governing territory of the Danish Realm      north
225                                                NaN      north
226  De facto independent state recognised by Russi...      north
227                                                NaN      north
228                                                NaN      north
229                                                NaN      north
230                                                NaN      north
231                         British Overseas Territory      north
232                                         City-state      north
233                                                NaN      south
234                                                NaN      north
235                                                NaN      north
236                                                NaN      north
237                                                NaN      north
238                                                NaN      north
239                                                NaN      south
240                    External territory of Australia      south
241  Self-governing part of the Kingdom of the Neth...      north
242                                                NaN      south
243                                                NaN      north
244                                                NaN      north
245  Country does not have an official capital; how...      south
246                                                NaN      north
247                                                NaN      north

[247 rows x 5 columns]>

In [14]:
city_by_hemisphere.to_excel('C:/Users/joelb/Documents/Github/ClimateChange/cities.xlsx')