In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_national_capitals_by_latitude'

In [3]:
tables = pd.read_html(url)
city_by_hemisphere = tables[1]

city_by_hemisphere.columns = ['City','Latitude','Country','Notes']
city_by_hemisphere.head()

city_by_hemisphere = city_by_hemisphere.drop(0,axis=0)

city_by_hemisphere['Latitude'] = city_by_hemisphere['Latitude'].str.replace('−','-')
city_by_hemisphere['Latitude'] = pd.to_numeric(city_by_hemisphere['Latitude'])

In [4]:
city_by_hemisphere['Hemisphere'] = np.where(city_by_hemisphere['Latitude']<=0, 'south', 'north')

city_by_hemisphere

,City,Latitude,Country,Notes,Hemisphere
1,Abu Dhabi,24.47,United Arab Emirates,NaN,north
2,Abuja,9.07,Nigeria,NaN,north
3,Accra,5.55,Ghana,NaN,north
4,Adamstown,-25.07,Pitcairn Islands,British Overseas Territory,south
5,Addis Ababa,9.02,Ethiopia,NaN,north
6,Algiers,36.77,Algeria,NaN,north
7,Alofi,-19.07,Niue,Self-governing in free association with New Ze...,south
8,Amman,31.93,Jordan,NaN,north
9,Amsterdam,52.37,Netherlands,The Dutch constitution refers to Amsterdam as ...,north
10,Andorra la Vella,42.50,Andorra,NaN,north
11,Ankara,39.87,Turkey,NaN,north
12,Antananarivo,-18.93,Madagascar,NaN,south
13,Apia,13.83,Samoa,NaN,north
14,Ashgabat,37.93,Turkmenistan,NaN,north
15,Asmara,15.33,Eritrea,NaN,north
16,Astana,51.17,Kazakhstan,NaN,north
17,Asunción,-25.27,Paraguay,NaN,south
18,Athens,37.97,Greece,NaN,north
19,Avarua,-21.20,Cook Islands,Self-governing in free association with New Ze...,south
20,Baghdad,33.33,Iraq,NaN,north
21,Baku,40.38,Azerbaijan,NaN,north
22,Bamako,12.65,Mali,NaN,north
23,Bandar Seri Begawan,4.88,Brunei,NaN,north
24,Bangkok,13.75,Thailand,NaN,north
25,Bangui,4.37,Central African Republic,NaN,north
26,Banjul,13.45,Gambia,NaN,north
27,Basseterre,17.30,Saint Kitts and Nevis,NaN,north
28,Beijing,39.90,China,See also: List of historical capitals of China,north
29,Beirut,33.88,Lebanon,NaN,north
30,Belgrade,44.82,Serbia,NaN,north
...,...,...,...,...,...
218,Tegucigalpa,14.10,Honduras,NaN,north
219,Tehran,35.68,Iran,NaN,north
220,Thimphu,27.47,Bhutan,NaN,north
221,Tirana,41.32,Albania,NaN,north
222,Tiraspol,46.85,Transnistria,"De facto independent state, not recognized by ...",north
223,Tokyo,35.68,Japan,NaN,north
224,Tórshavn,62.00,Faroe Islands,Self-governing territory of the Danish Realm,north
225,Tripoli,32.90,Libya,NaN,north
226,Tskhinvali,42.23,South Ossetia,De facto independent state recognised by Russi...,north
227,Tunis,36.80,Tunisia,NaN,north
228,Ulan Bator,47.92,Mongolia,NaN,north
229,Vaduz,47.13,Liechtenstein,NaN,north
230,Valletta,35.88,Malta,NaN,north
231,The Valley,18.22,Anguilla,British Overseas Territory,north
232,Vatican City,41.90,Vatican City,City-state,north
233,Victoria,-4.62,Seychelles,NaN,south
234,Vienna,48.20,Austria,NaN,north
235,Vientiane,17.97,Laos,NaN,north
236,Vilnius,54.68,Lithuania,NaN,north
237,Warsaw,52.23,Poland,NaN,north
238,"Washington, D.C.",38.88,United States,NaN,north
239,Wellington,-41.28,New Zealand,NaN,south
240,West Island,-12.18,Cocos (Keeling) Islands,External territory of Australia,south
241,Willemstad,12.12,Curaçao,Self-governing part of the Kingdom of the Neth...,north
242,Windhoek,-22.57,Namibia,NaN,south
243,Yamoussoukro (official)Abidjan (former capital...,6.82,Ivory Coast,NaN,north
244,Yaoundé,3.87,Cameroon,NaN,north
245,Yaren (de facto),-0.53,Nauru,Country does not have an official capital; how...,south
246,Yerevan,40.18,Armenia,NaN,north
247,Zagreb,45.82,Croatia,NaN,north